@charset "ISO-8859-1";



button{
			border: none;
			border-radius: 10px;
			background-color: aqua;
			padding: 6px;
			cursor: pointer;
			
		}
		body{
			text-align: center;
						padding: 50px;
		}
		footer{
		font-size: larger;
	}
	input{
		border: none;
		border-radius: 5px;
	}